body{
    background-color: black;
}
.error{
    
    position: relative;
}
.map-africa{
    display: inline-flex;
    margin-left: 115px;
    width: 1350px;
    position: absolute;
    z-index: -5;
}
body h1{
    color: maroon;
    text-align: center;
}
body a{
    color: white;
}
.africa{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}