@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');
body{
    background-color: black;
    font-family: 'Sawarabi Gothic', sans-serif;
}
.error{
    position: relative;
}
.map-asia{
    display: inline-flex;
    margin-left: 115px;
    width: 1350px;
    position: absolute;
    z-index: -5;
}
body h1{
    color: maroon;
    text-align: center;
}
body a{
    color: white;
}
.asia{
    position: absolute;
    top: 25.3%;
    left: 66%;
    transform: translate(-50%, -50%);
}