@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital@1&display=swap');
body{
    background-color: black;
    font-family: 'Sawarabi Gothic', sans-serif;
    padding: 0;
    margin: 0;
}
.error{
    position: relative;
}
.map-asia{
    display: inline-flex;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -5;
}
.killer{
    position: absolute;
    width: 200px;
    left: 750px;
    top: 350px;
}
.grim{
    position: absolute;
    width: 250px;
    left: 450px;
    top: 255px;
}
.scrollable2{
    position: fixed;
    top: 67%;
    left: 70%;
    right: 20px;
    font-family: 'Ubuntu Mono', monospace;
    overflow-y: auto;
    height: 250px; 
    width: 30%;
}
body h1{
    color: maroon;
    text-align: center;
}
body a{
    color: white;
}
.asia{
    position: absolute;
    top: 25.3%;
    left: 66%;
    transform: translate(-50%, -50%);
}
.scrollable {
    height: 250px; 
    width: 18%;
    overflow-y: auto;
    position: fixed;
    margin-top: 100px;
    padding-left: 190px;
    font-family: 'Luxurious Roman', cursive;
}