
body{
    background-color: black;
}
body img{
    margin-left: 115px;
}
body h1{
    color: white;
    text-align: center;
}
body a{
    color: white;
}
.centered{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}