@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');
body{
    background-color: black;
    font-family: 'Sawarabi Gothic', sans-serif;
}
.error{
    float: right;
}
.map-north{
    display: inline-flex;
    margin-left: 115px;
    width: 1350px;
    position: absolute;
    z-index: -5;
}
body h1{
    color: maroon;
    text-align: center;
    border: 2px solid;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #FF6461;
}
body a{
    color: white;
}
.north{
    position: absolute;
    top: 24.2%;
    left: 21.5%;
    transform: translate(-50%, -50%);
}