@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital@1&display=swap');
body{
    background-color: black;
    font-family: 'Sawarabi Gothic', sans-serif;
    padding: 0;
    margin: 0;
}
.error{
    float: left;
}
.map-south{
    display: inline-flex;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -5;
}
.killer{
    position: absolute;
    width: 200px;
    left: 750px;
    top: 345px;
}
.grim{
    position: absolute;
    width: 250px;
    left: 450px;
    top: 255px;
}
.scrollable2{
    position: fixed;
    top: 68%;
    left: 70%;
    right: 10%;
    font-family: 'Ubuntu Mono', monospace;
    overflow-y: auto;
    height: 30%; 
    width: 30%;
}
body h1{
    color: maroon;
    text-align: center;
}
body a{
    color: white;
}
.south{
    position: absolute;
    top: 67%;
    left: 29%;
    transform: translate(-50%, -50%);
}
.scrollable {
    height: 29%; 
    width: 18%;
    overflow-y: auto;
    position: fixed;
    margin-top: 8%;
    padding-left: 12.5%;
    font-family: 'Luxurious Roman', cursive;
}