@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Readex, sans-serif;
    font-weight: bold;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #474747;
}
.btn {
    position: relative;
    padding: 15px 20px;
    background-color: 	#fff;
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
}
.btn:hover {
    letter-spacing: 2px;
}
#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
    background: #fff;
    width: 450px;
    padding: 80px 50px 50px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.08);
    transform: 0.5s;
}
#popup .content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
}
#popup .content img {
max-width: 80px;
}
#popup .content p {
    text-align: center;
}
